body {
    padding: 0;
    margin: 0;
}

body h3 {
    padding-left: 1em;
}

body div#content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-content: center;
    align-items: center;
}

body div#pallete {
    background-color: #f0f0f0;
    width: 100%;
    min-height: 100px;
    overflow-x:scroll;
}

body div#pallete ul {
    list-style: none;
    display: flex;
    flex-direction: row;   
    padding: 0; 
}

body div#pallete ul li {
    
    padding: 10px;
    margin: 0.5em 1em;
    border: 1px solid black;
    min-width: 140px;
    min-height: 40px;
    text-align: center;
    cursor:grab;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
